@mixin logoFont {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

$headingFont: "Roboto", sans-serif;
$paragraphFont: "Montserrat", sans-serif;

$baseFont: 16px;
$radius: $baseFont;

$primary: deepskyblue;