footer {
    padding: 25px 20px;
    .copyright {
        color: white;
        font-size: $baseFont * 1.3;
        font-family: $headingFont;
        a {
            color: inherit;
        }
    }
}